<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sipc.intelligentfarmbackend.mapper.EnvironmentAlarmMapper">

    <select id="list" resultType="com.sipc.intelligentfarmbackend.pojo.EnvironmentAlarm">
        SELECT e.id, f.field_name AS fieldName, f.crop_name AS corpName, e.alarm_time AS alarmTime, e.program, e.outlier, e.normal, e.current_status AS currentStatus
        FROM environment_alarm e
        JOIN field f ON f.id = e.field_id
        <where>
            <if test="id != null">
                AND e.id = #{id}
            </if>
            <if test="fieldId != null">
                AND e.field_id = #{fieldId}
            </if>
            <if test="alarmTime != null">
                AND e.alarm_time = #{alarmTime}
            </if>
        </where>
    </select>

<!--    // 删除-->
    <delete id="delete">
        DELETE FROM environment_alarm WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



</mapper>