<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sipc.intelligentfarmbackend.mapper.UserMapper">

<!--    获取用户信息-->
    <select id="getUser" resultType="com.sipc.intelligentfarmbackend.pojo.User">
        select * from user where id = #{id}
    </select>


<!--    获取用户名和密码-->
    <select id="getUsernameAndPassword" resultType="com.sipc.intelligentfarmbackend.pojo.User">
        select * from user where user_name = #{userName} and password = #{password}
    </select>


<!--    // 插入用户-->
    <insert id="add" parameterType="com.sipc.intelligentfarmbackend.pojo.User">
        insert into user (id, name, user_name, role_id, user_phone, company, company_phone, password, img_url)
        values (#{id}, #{name}, #{userName}, #{roleId}, #{userPhone}, #{company}, #{companyPhone}, #{password}, #{imgUrl})
    </insert>

<!--    用户更新，name，role,company,companyPhone,,userPhone-->
    <update id="update" parameterType="com.sipc.intelligentfarmbackend.pojo.User">
    update user u
    SET u.name = #{name}, u.role_id = #{roleId}, u.company = #{company}, u.company_phone = #{companyPhone}, u.user_phone = #{userPhone}
    where id = #{id}  <!-- 必须添加 where 条件 -->
</update>

</mapper>

